  #red {  
  width:15px;
  height:60px;
  position: absolute;
  background-color: red;  
  top: -40px;
  right: 20px;
  }
  
  #green {  width:15px;
  height:60px;
  position: absolute; 
  top: -40px;
  left: 20px;
  background-color: green; 
  }
  
  #red:hover {
    transform: rotate(-15deg);
    transform-origin: 50% 100%;
    transition: .3s ease; 
  }
  
  #green:hover {
    transform: rotate(-15deg);
    transform-origin: 50% 100%;
    transition: .3s ease; 
  }
  
  .handle {
    width: 15px;
    height: 20px;
    background-color: #333333;
    padding: 2px;

  }
  
  .handle:hover {
    background-color: black;}
  
  .square { 
    position:absolute; 
    top:60px; 
    right:30px; 
    background-color:gray;
    width:100px;
    height: 50px;
  }
  
  .bus { width: 300px;
  position: relative;
  height: 200px;
  background-color: yellow;
  left: 100px;  
  }
  
  .fire {width: 70px;
  height: 30px;
  background-color: orange;
  position: absolute;
  bottom: 20px;
  left: -80px;
  display: none;
  -webkit-animation:flame-move .2s linear infinite;}
  
@-webkit-keyframes flame-move {
   0% {bottom: 23px;}
   40% {bottom: 18px; transform: scale(1.2);}
   60% {bottom: 23px;}
   100% {bottom: 18px; transform: scale(1.2);}  
}

  .appear { display: block;}

  .move { background-color: #00FF00;
        transition: 2s ease; 
        transform: translate(500px);}
        
  .reset {background-color: yellow;
        transition: 3s ease; 
        transform: translate(0px);}      
 