* {
  margin: 0;
  padding: 0;
}


/*------------------------------dividers/sections---------------------------*/
.blue {background-color:  #53c7d3;}
.white {background-color:  white;}
.green {background-color: #95e597;}
.dk-blue {background-color: #3f90a5;}

.large {height: 300vh;}

.container {min-width: 700px;
	max-width:900px;
	position:relative;
	margin: 0 auto;}

.page {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

#large {height: 300vh;
	position: relative;}

/*------------------------------font styles---------------------------*/
body { font-family: Raleway; font-size:20px; color:white; font-weight:300;}

h1 {font-family: Raleway; 
	font-size:55px; 
	color:white; 
	font-weight:800;}
	
h2 {font-family: Raleway; 
	font-size:35px; 
	font-weight:300;
	text-align: center;}
	

/*----------------styles and arrivals-----------------*/

.title {
	  position:absolute;
	  left: 300px;
	  top: 300px;
	  margin: 0 auto;
      opacity:0;}
	  	  
.title-arrived {
	opacity:1;
 	transition: opacity 3s ease-in-out;} 
	
		
.pull-quote1 {
  	  position:absolute;
	  left: 160px;
	  right: 160px;
	  top: 300px;
	  opacity:0;
}	

.pull-quote1-arrived {
  	opacity:1;
   	transition: opacity 2s ease-in-out;}
	
.blue-text {color: #3f90a5;}
.white-text {color: white;}		

.pull-quote2 {
  	  position:absolute;
	  left: 80px;
	  right: 80px;
	  top: 220px;
	  opacity:0;}	
	  
.pull-quote2-arrived {
    	opacity:1;
     	transition: opacity 2s ease-in-out;}	
	

	
/*---------------page two (shower, blue)--------------------*/
.dont-leave {
	  position:absolute;
	  width:40%;
	  left: 50px;
	  top: 350px;
	  line-height:1.5em;
	  transform: translate(-200vw, 0);
	  transition: transform 2s ease-out;  }	
	
.dont-leave-arrived {
	transform: translate(0,0);
}
		

.img1 {
	width: 400px;
  transform: translate(100vw, 0);
  transition: transform 1s ease-out;}

.img1-arriving{
    transform: translate(0, 0);
    position:absolute;
	right: -20px;
    top:5px;}

.showerWater{
	transform: translate(100vw, 0);
    position:absolute;
	width:175px;
 	right:220px;
    top:345px;
	opacity:0;
	transition: opacity 2s ease-out;
	transition-delay: 2s;
	
}	
	
.showerWater-arrived{
		opacity:1;
		-webkit-animation:vib .4s linear infinite;}	
 
@-webkit-keyframes vib {
       0% {transform: translate(0, 1vh);}
	   40% {transform: translate(0, 0);}
       60% {transform: translate(0, 1vh);}
       100% {transform: translate(0, 0);}
 } 
		
		

/*---------------page four (wateringcan, green)--------------------*/
.hidden-or {
	  position:relative;
	  width:30%;
	color: #3f90a5;
	  padding:50vh 0 0 55vw;
	  line-height:1.5em;
	  transform: translate(200vw, 0);
	  transition: transform 2s ease-out;  }	
	
.hidden-or-arrived {
	transform: translate(0,0);
}  

.watering-can {
  transform: translate(-100vw, 0);
  transition: transform 1s ease-out;}

.watering-can-arriving{
    transform: translate(0, 0);
    position:absolute;
	width:350px;
	height:350px;
	left:10%;
    top:40px;}
	
.water-drop {
  transform: translate(-100vw, 0);
  transition: transform 1s ease-out;}

.water-drop-arrived{
    transform: translate(0, 0);
    position:absolute;
	width:120px;
	height:120px;
	left:7%;
    top:300px;}	

	

/*---------------page six (footprints, white)--------------------*/
.as-with {
	  position:relative;
	  width:30%;
	  padding:50vh 0 0 10vw;
  	color: #3f90a5;
	  line-height:1.5em;
	  transform: translate(-200vw, 0);
	  transition: transform 2s ease-out;  }	
	
.as-with-arriving {
	transform: translate(0,0);}
		

.footleft {
	width:90px;
	opacity: 0;
	transition: opacity 3s ease;
    transition-delay: 1s;
}

.footleft-arriving{
	opacity: 1;
    position:absolute;
	right:20%;
	margin-right: 150px;
    top:420px;}
	
.footright {
	width:90px;
	opacity: 0;
	transition: opacity 3s ease;
    transition-delay: 2s;
}

.footright-arrived{
	opacity: 1;
    position:absolute;
	right:20%;
	margin-right: 50px;
    top:310px;}
	

/*---------------page seven (data, white)--------------------*/
.and-if {
	  position:relative;
	  width:30%;
	  padding:50vh 0 0 10vw;
  	color: #3f90a5;
	  line-height:1.5em;
	  transform: translate(-200vw, 0);
	  transition: transform 2s ease-out;  }	
	
.and-if-arriving {
	transform: translate(0,0);}
		

.footleft-US {
	width:100px;
	opacity: 0;
	transition: opacity 3s ease;
    transition-delay: 1s;
}

.footleft-US-arriving{
	opacity: 1;
    position:absolute;
	right:20%;
	margin-right: 200px;
    top:295px;}
	
.footright-UK {
	width:100px;
	opacity: 0;
	transition: opacity 3s ease;
    transition-delay: 2s;
}

.footright-UK-arrived{
	opacity: 1;
    position:absolute;
	right:20%;
	margin-right: 30px;
    top:330px;}
	

/*---------------page nine (everyday green)--------------------*/

.Everyday-products  {
	  position:absolute;
      left:50%;
      top:50%;
	  width:30%;
  	color: #3f90a5;
	  transform: translate(200vw, -50%);
	  transition: transform 2s ease-out;  }	
	
.Everyday-products-arrived {
  transform: translate(-50%, -50%);}
  
.droplets {
	width: 100%;
	position:absolute ;
} 


/*---------------page ten (factory, blue)--------------------*/

#white-page {position: relative;}

#green-page {position: relative;}

#large {position: relative;}

.so-when {
	  position:relative;
	  width:30%;
	color: white;
	  padding:15vh 0 0 65vw;
	  line-height:1.5em;
	  transform: translate(200vw, 0);
	  transition: transform 2s ease-out;  }	
	
.so-when-arrived {
	transform: translate(0,0);
}  

.shirt{
	position: absolute;
	width:150px;
	height:150px;
	left:200px;
    top:60px;
}


	
/*---------------page twelve (everyday green)--------------------*/

.Recycling-reduces  {
	  position:absolute;
      left:50%;
      top:20%;
	  width:60%;
	  text-align:center;
  	color: #3f90a5;
	  transform: translate(200vw, -50%);
	  transition: transform 2s ease-out;  }	
	
.Recycling-reduces-arriving {
  transform: translate(-50%, -50%);}
  
.bubbles {
	width:65%;
	opacity: 0;
	transition: opacity 3s ease;
    transition-delay: 2s;
}

.bubbles-arrived{
	opacity: 1;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);}
	
.circle {
	width: 21%;
	padding:8px ;}
		
.circle:hover {
		transform: scale(1.2);}
		
/*---------------page fourteen (coffee, green)--------------------*/
.one-cup {
	  position:relative;
	  width:30%;
    color: #3f90a5;
	  padding:50vh 0 0 10vw;
	  line-height:1.5em;
	  transform: translate(-200vw, 0);
	  transition: transform 2s ease-out;  }	
	
.one-cup-arriving {
	transform: translate(0,0);
}
		

.coffee {
	width: 200px;
  transform: translate(100vw, 0) rotate(90deg);
  transition: transform 1s ease-out;
transition-delay:1s;}

.coffee-arrived{
    transform: translate(0, 0) rotate(-30deg);
    position:absolute;
	right:20%;
    top:125px;}

.coffee-graph1{
    position:absolute;
	width:250px;
 	right:20%;
    top:345px;
	opacity:0;
	transition: opacity 2s ease-out;	
	transition-delay: 1s;
}	
	
.coffee-graph1-arrived{
		opacity:1;} 

.the-incredible {
 	  position:absolute;
	  left: 160px;
	  right: 160px;
	  top: 300px;
	  color: white;
	  opacity:0;}
	  
.the-incredible-arrived {
    opacity:1;
	transition: opacity 2s ease-in-out;} 		
		
/*---------------page fifteen (coffee, green)--------------------*/
.depending-on {
	  position:relative;
	  width:30%;
   	  color: #3f90a5;
	  padding:50vh 0 0 10vw;
	  line-height:1.5em;
	  opacity:0;
	  transition: opacity 2s ease-out;  }	
	
.depending-on-arrived {
opacity:1;}

.coffee-graph2{
    position:absolute;
	width:250px;
 	right:20%;
    top:145px;
	opacity:0;
	transition: opacity 2s ease-out;	
	transition-delay: .5s;
}	
	
.coffee-graph2-arrived{
		opacity:1;}
		
		
/*---------------page sixteen (leaves, blue)--------------------*/
.If-you {
	  position:relative;
	  width:30%;
	color: white;
	  padding:15vh 0 0 65vw;
	  line-height:1.5em;
	  transform: translate(200vw, 0);
	  transition: transform 2s ease-out;  }	
	
.If-you-arrived {
	transform: translate(0,0);
}  

.pot {
  transform: translate(-100vw, 0);
  transition: transform 1s ease-out;}

.pot-arriving{
    transform: translate(0, 0);
    position:absolute;
	width:350px;
	left:10%;
	margin-left:15px;
    bottom:40px;
	z-index:1;
}
	
.leaves {
  transform: translate(7vw, 0);
  opacity:0;
  transition: transform 1s ease-out, opacity .5s ease-out;
  transition-delay:1.5s;}

.leaves-arrived{
    transform: translate(7vw, -10vh);
    position:absolute;
    opacity:1;
	width:250px;
	left:10%;
	margin-left: 15px;
	z-index:0;
    bottom:230px;}




		