* {
  margin: 0;
  padding: 0;
}


/*------------------------------dividers/sections---------------------------*/
.blue {background-color:  #53c7d3;}
.white {background-color:  white;}
.green {background-color: #95e597;}
.dk-blue {background-color: #3f90a5;}

.large {height: 300vh;}

.container {min-width: 700px;
	max-width:900px;
	position:relative;
	margin: 0 auto;}

.page {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

#large {height: 300vh;
	position: relative;} 

#page2b	{height: 110vh;}

/*------------------------------font styles---------------------------*/
body { font-family: Raleway; 
	font-size:20px; 
	font-weight:300;}

h1 {font-family: Raleway; 
	font-size:55px; 
	color:white; 
	font-weight:800;}
	
h2 {font-family: Raleway; 
	font-size:35px; 
	font-weight:300;
	text-align: center;}
	

/*-----------styles and arrivals-------------*/

.title {
	  position:absolute;
	  text-align: center;
	  left: 300px;
	  top: 300px;
	  margin: 0 auto;
      opacity:0;}
	  	  
.title-arrived {
	opacity:1;
 	transition: opacity 3s ease-in-out;} 
	
		
.pull-quote1 {
  	  position:absolute;
	  left: 160px;
	  right: 160px;
	  top: 300px;
	  opacity:0;
}	

.pull-quote1-arrived {
  	opacity:1;
   	transition: opacity 2s ease-in-out;}
	
.blue-text {color: #3f90a5;}
.white-text {color: white;}		

.pull-quote2 {
  	  position:absolute;
	  left: 80px;
	  right: 80px;
	  top: 220px;
	  opacity:0;}	
	  
.pull-quote2-arrived {
    	opacity:1;
     	transition: opacity 2s ease-in-out;}		

.left {position:absolute;
	  width:40%;
	  top: 350px;
	  line-height:1.5em;
	  transform: translate(-200vw, 0);
	  transition: transform 2s ease-out;  }	
	
.left-arrived {
	transform: translate(0,0);
}
	
		
.right {
	  position:absolute;
	  width:40%;
	  top: 350px;
	  right: 0px;
	  line-height:1.5em;
	  transform: translate(200vw, 0);
	  transition: transform 2s ease-out;  }	
	
.right-arrived {
	transform: translate(0,0);
}  		

.staticRight {	  
	position:absolute;
	  width:40%;
	  top: 350px;
	  right: 0px;
	  line-height:1.5em;}
	  
.staticLeft {position:absolute;
	  width:40%;
	  top: 200px;
	  line-height:1.5em;}	

.center {
	  position:absolute;
	  width:40%;
	  top: 250px;
	  right: 240px;
	  left: 240px;
	  text-align:center;
	  line-height:1.5em;
	  transform: translate(200vw, 0);
	  transition: transform 2s ease-out;  }	
	
.center-arrived {
	transform: translate(0,0);
}  
	

	
/*----------------------------------------page two (shower, blue)---------------------------------*/
		

.img1 {
	width: 400px;
  transform: translate(100vw, 0);
  transition: transform 1s ease-out;}

.img1-arriving{
    transform: translate(0, 0);
    position:absolute;
	right: -20px;
    top:5px;}

.showerWater{
	transform: translate(100vw, 0);
    position:absolute;
	width:175px;
 	right:230px;
    top:335px;
	opacity:0;
	transition: opacity 2s ease-out;
	transition-delay: 1s;}	
	
.showerWater-arrived{
		opacity:1;
		-webkit-animation:vib .4s linear infinite;}	
 
@-webkit-keyframes vib {
       0% {transform: translate(0, 1vh);}
	   40% {transform: translate(0, 0);}
       60% {transform: translate(0, 1vh);}
       100% {transform: translate(0, 0);}} 

.steam{
    position:absolute;
	width:300px;
 	right:200px;
    top:500px;
	opacity:0;
	transition: opacity 2s ease-out;
	transition-delay: 1s;}	
	
.steam-arrived{
		opacity:1;
		-webkit-animation:steam 1s ease infinite;}	
 
@-webkit-keyframes steam {
       0% {transform: translate(0, 1vh);}
	   50% {transform: translate(0, 0);}
       100% {transform: translate(0, 1vh);}} 
		
		

/*---------------page four (wateringcan, green)--------------------*/


.watering-can {
  transform: translate(-100vw, 0);
  transition: transform 1s ease-out;}

.watering-can-arriving{
    transform: translate(0, 0);
    position:absolute;
	width:350px;
	height:350px;
	left:10%;
    top:40px;}  
 /*	
.water-drop {
  transform: translate(-100vw, 0);
  transition: transform 1s ease-out;}

.water-drop-arrived{
    transform: translate(0, 0);
    position:absolute;
	width:120px;
	height:120px;
	left:7%;
    top:300px;}	
*/

 .water-drop {
   position:absolute;
   width:60px;
   height:50px;
   top:100px;
   left:0px;
 }

 .transition-water-drop {
   transition:transform 1s ease 0s;
   
 }	



/*---------------page nine (everyday green)--------------------*/
  
.droplets {
	width: 100%;
	position:absolute ;
} 


/*---------------page ten (factory, blue)--------------------*/

#white-page {position: relative;}

#green-page {position: relative;}

#large {position: relative;}

.shirt{
	position: absolute;
	width:150px;
	height:150px;
	left:200px;
    top:60px;
}


	
/*---------------page twelve (everyday green)--------------------*/

.bubbles {
	width:65%;
	opacity: 0;
	transition: opacity 3s ease;
    transition-delay: 2s;
}

.bubbles-arrived{
	opacity: 1;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);}
	
.circle {
	width: 21%;
	padding:8px ;}
		
.circle:hover {
		transform: scale(1.2);}
		
/*---------------page fourteen (coffee, green)--------------------*/
.coffee {
	width: 200px;
  transform: translate(100vw, 0) rotate(90deg);
  transition: transform 1s ease-out;
transition-delay:1s;}

.coffee-arrived{
    transform: translate(0, 0) rotate(-30deg);
    position:absolute;
	right:20%;
    top:125px;}

.coffee-graph1{
    position:absolute;
	width:250px;
 	right:20%;
    top:345px;
	opacity:0;
	transition: opacity 2s ease-out;	
	transition-delay: 1s;
}	
	
.coffee-graph1-arrived{
		opacity:1;} 

.the-incredible {
 	  position:absolute;
	  left: 160px;
	  right: 160px;
	  top: 300px;
	  color: white;
	  opacity:0;}
	  
.the-incredible-arrived {
    opacity:1;
	transition: opacity 2s ease-in-out;} 		
		
/*---------------page fifteen (coffee, green)--------------------*/


.coffee-graph2{
    position:absolute;
	width:250px;
 	right:20%;
    top:145px;
	opacity:0;
	transition: opacity 2s ease-out;	
	transition-delay: .5s;
}	
	
.coffee-graph2-arrived{
		opacity:1;}
		
		
/*---------------page sixteen (leaves, blue)--------------------*/
 

.pot {
  transform: translate(-100vw, 0);
  transition: transform 1s ease-out;}

.pot-arriving{
    transform: translate(0, 0);
    position:absolute;
	width:350px;
	left:10%;
	margin-left:15px;
    bottom:40px;
	z-index:1;
}
	
.leaves {
  transform: translate(7vw, 0);
  position:absolute;
  opacity:0;
  transition: transform 1s ease-out, opacity .5s ease-out;
  transition-delay:1.5s;}

.leaves-arrived{
    transform: translate(7vw, -10vh);
    opacity:1;
	width:250px;
	left:10%;
	z-index:0;
    bottom:230px;}




		